<div class="modal fade" id="expense-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @expense, remote: true do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Tipo de gasto</label>
                <%= f.select :options, Expense.get_options, {}, { class: "form-control" } %>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Fecha de gasto</label>
                <%= f.text_field :date, value: Date.today.strftime("%Y-%m-%d"), class: "form-control text-right" %>
              </div>  
            </div>
            <div class="col-sm-12">
              <div class="form-group concept-group">
                <label class="control-label">Concepto del gasto</label>
                <%= f.text_field :concept, class: "form-control" %>
                <span class="help-block concept-field hide">Hola</span>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Categoría del gasto</label>
                <%=  %>
                <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), {}, { class: "form-control" } %>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Valor del gasto</label>
                <%= f.number_field :amount, value: 0, min: 0, class: "form-control text-right"  %>
              </div>  
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <%= f.submit value: title, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->