<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Tipo de transacción <span>Elige para filtrar<span></h4>
      <div class="list-group filter-type">
        <% @expenses_options.each do |option| %>
          <a href="#" class="list-group-item filter-option" data-options="<%= option %>"><%= option %></a>
        <% end %>
        <!-- more transaction types -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <% get_categories.each do |category| %>
          <a href="#" class="list-group-item filter-category" data-category="<%= category.id %>"><%= category.name %></a>
        <% end %>
        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value total-per-month"><%= number_to_currency(get_total_amount_per_month(@expenses)) %></div>
          <div class="summary-label">Total</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value total-transactions"><%= @expenses.count %></div>
          <div class="summary-label">Transacciones</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value average-transactions"><%= number_to_currency(get_average_per_month(@expenses)) %></div>
          <div class="summary-label">Promedio</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to new_expense_path, class: "btn btn-success pull-left", remote: true do %>
            <span class="glyphicon glyphicon-plus"></span> Nuevo gasto
          <% end %>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
              <div><%= Date.today.strftime("%B %Y") %></div>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% @expenses_last_year.each do |date_month| %>
                <% date_month.each do |k, v| %>
                  <li role="presentation">
                    <a href="#" class="filter-month" data-month="<%= k %>"><%= v %></a>
                  </li>
                <% end %>
              <% end %>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <%= render "expensesdata" %>
        </tbody>
      </table>

    </div>
  </div>
</div>
